.App-contact p, .App-about p {
    color: rgb(251, 250, 244, 0.7);
}

.App-contact {
    text-align: center;
}

.Icon {
    transition: 0.3s;
    color: rgb(251, 250, 244, 0.3);
    padding: 8px;
}

.Icon:hover {
    color:rgb(251, 250, 244);
}

img {
    border-radius: 8px;
    width: 256px;
}

h1 {
    color: rgb(87, 158, 64);
}

hr {
    color: rgb(251, 250, 244);
}