.App-blogpost-title a {
    font-weight: 700;
    color:rgb(87, 158, 64, 0.6);
    text-decoration: none;
}

.App-blogpost-title a:hover {
    font-weight: 700;
    color:rgb(87, 158, 64);
    text-decoration: underline;
}

li {
    list-style: none;
    color: rgba(251, 250, 244, 0.6);
}

li:hover {
    background-color: rgb(251, 250, 244, 0.1);
}

h3 {
    font-weight: 700;
    color: rgb(87, 158, 64);
    margin-bottom: 0px;
}